/* 他サイトのCSS影響を受けにくくする */

:host {
  all: initial;
}

#gotthai-bubble-box {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: max-content;
  min-width: 12rem;
  margin: 0;
  padding: 0 5px 5px;
  border: 1px solid rgba(100, 100, 100, 0.6);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 3px gray;
  max-width: min(50vw, 32rem);
  z-index: 10000;
  pointer-events: auto;
  overflow-wrap: break-word;
}

#gotthai-bubble-box a:hover {
  color: #0d49b1;
}

#gotthai-bubble-box a:visited {
  color: #3070df;
}

#gotthai-bubble-item-name {
  margin: 5px 0 0;
  padding: 1px;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #eee;
  border-radius: 4px;
}

#gotthai-bubble-selected-text {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #000;
}

#gotthai-bubble-result {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

#gotthai-bubble-result a {
  margin: 0 5px 0 0;
  padding: 0;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
  color: #3070df;
  text-decoration: none;
}

#gotthai-bubble-voice {
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACjSURBVDjLY2AYYmA1QwADI3FKy8HkfyA8zqBOjPL/YLqO4SWQ9YXBmbDy/1C2EMMGsBZNQsr/w/lMDCuAvKOElP+HeloQSPIxPAPynVAV/seAENHtYLoKyJpDnIb/DOZA2gBI3yRWQx6Q5gZ7nFYaQE4yJN5JW8B0PaanYaADRcMaBh5wsD7HDFZMLURGHEIL0UkDpoWExAfRQlLyJiMDDSAAALgghxq3YsGLAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  cursor: pointer;
}

#gotthai-bubble-voice:hover {
  opacity: 0.9;
}

#gotthai-bubble-voice:active {
  opacity: 0.3;
}

#gotthai-bubble-copy-thai {
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0;
  width: 17px;
  height: 17px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARlJREFUSEu1lesVgjAMhb+4Du4g7uBADuQO6g6yjvHUVmxDpVGkPzgcaHJzc/MQVj6ysn9aAEdgB/ThpihoiigYvt7jJ7mAXoFgM555AOEmSlc6subZX2FA2foByoBb2czJORmsAGCjqEZVpyKaRCrSbjXQp+zxGY4mMVvFEET+DSArmoYGXoBUcy8GfoDE+80+Fq8Ja4EGXgCjwboMBE3t6hC5aPKPfbAsRaV+NQ0mlfBdH0QSjT7Io/h/isZ5GaMQzih9DKqco9Np+rS4APu5YVemZMOROwegs132LrbRZAA9Nca1YdCan47/rVnkcDF/xQKcEXqzqowHs9qm06C4bwHCujsIdosZkfPd+SXA4pTUiuHvTnOHD5VFXhkNMultAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  cursor: pointer;
}

#gotthai-bubble-copy-thai:hover {
  opacity: 0.9;
}

#gotthai-bubble-copy-thai:active {
  opacity: 0.3;
}

#gotthai-bubble-pronunciation {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  cursor: default;
}

#gotthai-bubble-pronunciation:active {
  opacity: 0.3;
}

#gotthai-bubble-katakana {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

#gotthai-bubble-meaning {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

#gotthai-bubble-meaning ol {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: decimal;
}

#gotthai-bubble-meaning li {
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: decimal;
}

#gotthai-bubble-matching {
  margin: 5px 0 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#gotthai-bubble-matching a {
  color: #3070df;
  text-decoration: none;
}

#gotthai-bubble-notice {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

#gotthai-bubble-notice a {
  font-size: 20px;
  color: #3070df;
  text-decoration: none;
}

#gotthai-bubble-error {
  margin: 10px 0 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
